body {
    height: 100vh;
    background-color: white;
}

body::after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 100%;
    height: 20vh;
    background-color: #8fcffa;
}

nav {
    width: 30%;
    height: 90px;
    background-color: crimson;
    margin: 0 auto;
    float: right;
}

aside {
    width: 30%;
    height: 60vh;
    background-color: #008a39;
    float: left;
    text-align: center;
}

main {
    width: 70%;
    height: 60vh;
    background-color: #80ffb5;
    float: right;
}

footer {
    width: 100%;
    height: 20vh;
    background-color: #ff95ff;
    clear: both;
}
